<ion-header>
  <ion-toolbar>
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button expand="block" (click)="docscan()">
    Doc Scan
  </ion-button>
  <ion-button expand="block" (click)="cardio()">
    Card IO 
  </ion-button>
  <ion-button expand="block" (click)="camprev()">
    Cam Preview 
  </ion-button>
  <ion-button expand="block" (click)="captureImage()">
    Capture Image 
  </ion-button> -->
  <ion-button expand="block" (click)="fingerprint()">
    Enable Finger Print
  </ion-button>
  <ion-button expand="block" (click)="createPDF()">
    Create PDF
  </ion-button>
</ion-content>